.bgimg{
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

}
.footerbg{
    background-color: #065fad;
}
#section1{
    background-image: url("../img/hero-bg.jpg");
}
