*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import 'backgrounds';
@import 'colors';
@import 'hovers';


.navbar{
    background-color: #0a60a4;
    opacity: 0.9;
}
.footericons{
    transition: 0.5s;
    color:white;
    background-color: #0880e8;
}
.mainicons{
    transition: 0.5s;
    background-color: #c3dcf1;
}

.teamimg{
    transition: 0.3s;
    position: relative;
}
.teamimg:hover{
    transform: scale(1.1);
    
}